@{
    Layout = "_ConfirmationLayout";
    ViewData["Title"] = "ارسال تأیید ایمیل";
}

<div class="container">
    <h1 class="mt-5">ارسال تأیید ایمیل</h1>
    <br>
    <div class="h4 alert alert-success" role="alert">
        پیوند ارسال شده است ، لطفاً برای بازنشانی گذرواژه خود ، پست الکترونیک خود را بررسی کنید
    </div>

    <a class="w-100 btn btn-lg btn-success input-margin" asp-controller="Home" asp-action="Index">صفحه اصلی</a>
</div>