@model ViewModels.Account.LoginViewModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "ورود";
}

<form class="needs-validation" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["returnUrl"]"
    method="POST" novalidate>
    <div class="text-center text-danger" asp-validation-summary="ModelOnly"></div>

    <img class="mb-4" src="~/svg/Login.svg" alt="" width="72" height="57">

    <h1 class="h3 mb-3 fw-normal">ورود به سایت</h1>
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="text-danger">@ViewData["ErrorMessage"]</div>
    }

    <div class="form-floating">
        <input asp-for="Username" class="form-control" placeholder="Username" required>
        <label asp-for="Username">نام کاربری</label>
        <span asp-validation-for="Username" class="text-danger"></span>
        <div class="invalid-feedback">
            <p>
                نام کاربری خود را وارد کنید
            </p>
        </div>
    </div>

    <div class="form-floating input-margin">
        <input asp-for="Password" class="form-control" placeholder="Password" required>
        <label asp-for="Password">رمز عبور</label>
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="invalid-feedback">
            <p>
                رمز عبور خود را وارد کنید
            </p>
        </div>
    </div>

    <button class="w-100 fs-6 btn btn-lg btn-primary" type="submit">ورود</button>

    <a class="w-100 fs-6 btn btn-lg btn-warning input-margin" asp-controller="Account" asp-action="ForgotPassword">رمز
        عبور
        را فراموش کرده اید</a>

    <a class="w-100 fs-6 btn btn-lg btn-success input-margin" asp-controller="Home" asp-action="Index">صفحه اصلی</a>

</form>

@section Scripts{
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
