@{
    Layout = "_ConfirmationLayout";
    ViewData["Title"] = "تأیید بازنشانی رمز ورود";
}

<div class="container">
    <h1 class="mt-5">تأیید بازنشانی رمز ورود</h1>
    <br>
    <div class="h4 alert alert-success" role="alert">
        گذرواژه شما تغییر یافت
    </div>

    <a class="w-100 btn btn-lg btn-primary input-margin" asp-controller="Account" asp-action="Login">ورود</a>
</div>