@model Models.LegalPerson

@{
    Layout = "_CreateLayout";
    ViewData["Title"] = "تغییرات";
}


<h4 class="mb-3">کاربر حقوقی</h4>
<hr class="my-4">
<form asp-controller="LegalPerson" asp-action="Edit" method="post" class="needs-validation" novalidate>
    <div class="row g-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="LegalPersonId" />

        <div class="col-6">
            <label asp-for="InstallerUserName" class="form-label"></label>
            <div class="input-group has-validation">
                <select asp-for="InstallerUserName" class="js-example-basic-single form-select"
                        asp-items="ViewBag.InstallerUserName" autocomplete="off" spellcheck="false" required>
                    <option value=""></option>
                </select>
                <div class="invalid-feedback">
                    <span asp-validation-for="InstallerUserName"></span>
                </div>
            </div>
        </div>


        <div class="col-6">
            <label asp-for="CompanyName" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="CompanyName" type="text" class="form-control" autocomplete="off" spellcheck="false"
                       required minlength="3" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="CompanyName"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="NameCEO" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="NameCEO" type="text" class="form-control" autocomplete="off" spellcheck="false" required
                       minlength="3" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="NameCEO"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="EmailAddress" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="EmailAddress" type="email" class="form-control" autocomplete="off" spellcheck="false"
                       required minlength="3" maxlength="60">
                <div class="invalid-feedback">
                    <span asp-validation-for="EmailAddress"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="PhoneNumber" type="text" class="form-control" autocomplete="off" spellcheck="false"
                       required maxlength="20" pattern="\d*" onkeyup="toEnglishNumber(this.value,'PhoneNumber');">
                <div class="invalid-feedback">
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="City" class="form-label"></label>
            <div class="input-group has-validation">
                <select asp-for="City" class="js-example-basic-single form-select" asp-items="ViewBag.Cities"
                        autocomplete="off" spellcheck="false" required>
                    <option value=""></option>
                </select>
                <div class="invalid-feedback">
                    <span asp-validation-for="City"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="State" class="form-label"></label>
            <div class="input-group has-validation">
                <select asp-for="State" class="js-example-basic-single form-select" asp-items="ViewBag.States"
                        autocomplete="off" spellcheck="false" required>
                    <option value=""></option>
                </select>
                <div class="invalid-feedback">
                    <span asp-validation-for="State"></span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <label asp-for="Address" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="Address" type="text" class="form-control" required minlength="3" maxlength="100">
                <div class="invalid-feedback">
                    <span asp-validation-for="Address"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="RegistrationNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="RegistrationNumber" type="text" class="form-control" autocomplete="off"
                       spellcheck="false" required maxlength="20" pattern="\d*"
                       onkeyup="toEnglishNumber(this.value,'RegistrationNumber');">
                <div class="invalid-feedback">
                    <span asp-validation-for="RegistrationNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="EconomicCode" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="EconomicCode" type="text" class="form-control" autocomplete="off" spellcheck="false"
                       required maxlength="20" pattern="\d*" onkeyup="toEnglishNumber(this.value,'EconomicCode');">
                <div class="invalid-feedback">
                    <span asp-validation-for="EconomicCode"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="RecipientName" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="RecipientName" type="text" class="form-control" autocomplete="off" spellcheck="false"
                       required minlength="3" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="RecipientName"></span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <label asp-for="InstallationLocation" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="InstallationLocation" type="text" class="form-control" autocomplete="off"
                       spellcheck="false" required minlength="3" maxlength="100">
                <div class="invalid-feedback">
                    <span asp-validation-for="InstallationLocation"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="GasometerType" class="form-label"></label>
            <div class="input-group has-validation">
                <select asp-for="GasometerType" type="text" class="js-example-basic-single form-select"
                        autocomplete="off" spellcheck="false" required>
                    <option value=""></option>
                    <option value="کنتور گاز دیافراگمی G4">
                        کنتور گاز دیافراگمی G4
                    </option>
                    <option value="کنتور هوشمند گاز">
                        کنتور هوشمند گاز
                    </option>
                    <option value="کنتور گاز آلتراسونیک">
                        کنتور گاز آلتراسونیک
                    </option>
                </select>
                <div class="invalid-feedback">
                    <span asp-validation-for="GasometerType"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="GasometerNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="GasometerNumber" type="text" class="form-control" autocomplete="off" spellcheck="false"
                       required maxlength="20" pattern="\d*" onkeyup="toEnglishNumber(this.value,'GasometerNumber');">
                <div class="invalid-feedback">
                    <span asp-validation-for="GasometerNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="PersonNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="PersonNumber" type="text" class="form-control" autocomplete="off" spellcheck="false"
                       required maxlength="20" pattern="\d*" onkeyup="toEnglishNumber(this.value,'PersonNumber');">
                <div class="invalid-feedback">
                    <span asp-validation-for="PersonNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="Attachment" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="Attachment" type="text" class="form-control" autocomplete="off" spellcheck="false"
                       required>
                <div class="invalid-feedback">
                    <span asp-validation-for="Attachment"></span>
                </div>
            </div>
        </div>


        <hr class="my-4">

        <button class="w-100 btn btn-success btn-lg" type="submit">ایجاد تغییرات</button>

    </div>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}