@model Models.Installer

@{
    Layout = "_CreateLayout";
    ViewData["Title"] = "ایجاد";
}

<h4 class="mb-3">نصاب</h4>
<hr class="my-4">
<form  asp-controller="Installer" asp-action="Create" method="post" novalidate>
    <div class="row g-3">
        <div class="text-center text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="col-6">
            <label asp-for="FullName" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="FullName" type="text" class="form-control" autocomplete="off" spellcheck="false" required minlength="3" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="FullName"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="InstallerUserName" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="InstallerUserName" type="text" class="form-control" autocomplete="off" spellcheck="false" required minlength="3" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="InstallerUserName"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="UserNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="UserNumber" type="text" class="form-control" autocomplete="off" spellcheck="false" required minlength="3" maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="UserNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="NationalCode" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="NationalCode" type="text" class="form-control" autocomplete="off" spellcheck="false" required minlength="3" maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="NationalCode"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="PhoneNumber" type="text" class="form-control" autocomplete="off" spellcheck="false" required minlength="3" maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="MobileNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="MobileNumber" type="text" class="form-control" autocomplete="off" spellcheck="false" required minlength="3" maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="MobileNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <label asp-for="Address" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="Address" type="text" class="form-control" autocomplete="off" spellcheck="false" required minlength="3" maxlength="100">
                <div class="invalid-feedback">
                    <span asp-validation-for="Address"></span>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">ایجاد</button>

</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
