@model Models.Installer

@{
    Layout = "_CreateLayout";
    ViewData["Title"] = "تغییرات";
}

<h4 class="mb-3">نصاب</h4>
<hr class="my-4">
<form asp-controller="Installer" asp-action="Edit" method="post" class="needs-validation" novalidate>
    <div class="row g-3">
        <div asp-validation-summary="ModelOnly"  class="text-danger"></div>
        <input type="hidden" asp-for="InstallerId" />
        <div class="col-6">
            <label asp-for="FullName" class="form-label"></label>
            <div class="input-group has-validation">
                <span asp-validation-for="FullName"></span>
                <input asp-for="FullName" type="text" class="form-control" placeholder="FullName" required>
                <div class="invalid-feedback">
                    Your username is required.
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="InstallerUserName" class="form-label"></label>
            <div class="input-group has-validation">
                <span asp-validation-for="InstallerUserName"></span>
                <input asp-for="InstallerUserName" type="text" class="form-control" placeholder="InstallerUserName"
                    required>
                <div class="invalid-feedback">
                    Your InstallerUserName is required.
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="UserNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <span asp-validation-for="UserNumber"></span>
                <input asp-for="UserNumber" type="text" class="form-control" placeholder="UserNumber" required>
                <div class="invalid-feedback">
                    Your UserNumber is required.
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="NationalCode" class="form-label"></label>
            <div class="input-group has-validation">
                <span asp-validation-for="NationalCode"></span>
                <input asp-for="NationalCode" type="text" class="form-control" placeholder="NationalCode" required>
                <div class="invalid-feedback">
                    Your NationalCode is required.
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <span asp-validation-for="PhoneNumber"></span>
                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="PhoneNumber" required>
                <div class="invalid-feedback">
                    Your PhoneNumber is required.
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="MobileNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <span asp-validation-for="MobileNumber"></span>
                <input asp-for="MobileNumber" type="text" class="form-control" placeholder="MobileNumber" required>
                <div class="invalid-feedback">
                    Your MobileNumber is required.
                </div>
            </div>
        </div>

        <div class="col-12">
            <label asp-for="Address" class="form-label"></label>
            <div class="input-group has-validation">
                <span asp-validation-for="Address"></span>
                <input asp-for="Address" type="text" class="form-control" placeholder="Address" required>
                <div class="invalid-feedback">
                    Your Address is required.
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-success btn-lg" type="submit">ایجاد تغییرات</button>

</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
