@model ViewModels.ReplacementHeater.ReplacementHeaterViewModel

@{
    Layout = "_CreateLayout";
    ViewData["Title"] = "ایجاد";
}

<h4 class="mb-3">تعویض بخاری</h4>

<hr class="my-4" />

<div class="form-check">
    <input asp-for="UserLegalPerson" class="form-check-input" id="checkbox1" onclick="validate1()">
    <label asp-for="UserLegalPerson" class="form-check-label">
        کاربر حقوقی
    </label>
</div>

<div class="form-check">
    <input asp-for="UserNaturalPerson" class="form-check-input" id="checkbox2" onclick="validate2()">
    <label asp-for="UserNaturalPerson" class="form-check-label">
        کاربر حقیقی
    </label>
</div>

<br>

<form asp-controller="ReplacementHeater" asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="row g-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-6">
            <label asp-for="HeaterInstalledType" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="HeaterInstalledType" type="text" class="form-control" autocomplete="off"
                    spellcheck="false" required minlength="3" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="HeaterInstalledType"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="NameCEO" class="form-label"></label>
            <div class="input-group has-validation">
                <select asp-for="NameCEO" class="js-example-basic-single form-select" asp-items="ViewBag.NameCEO"
                    autocomplete="off" spellcheck="false" id="select1" disabled>
                    <option value=""></option>
                </select>
                <div class="invalid-feedback">
                    <span asp-validation-for="NameCEO"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="FullName" class="form-label"></label>
            <div class="input-group has-validation">
                <select asp-for="FullName" class="js-example-basic-single form-select" asp-items="ViewBag.FullName"
                    autocomplete="off" spellcheck="false" id="select2" disabled>
                    <option value=""></option>
                </select>
                <div class="invalid-feedback">
                    <span asp-validation-for="FullName"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="HeaterScrapType" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="HeaterScrapType" type="text" class="form-control" autocomplete="off" spellcheck="false"
                    required minlength="3" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="HeaterScrapType"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="Model" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="Model" type="text" class="form-control" autocomplete="off" spellcheck="false" required
                    minlength="3" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="Model"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="Capacity" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="Capacity" type="text" class="form-control" autocomplete="off" spellcheck="false"
                    required maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="Capacity"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="HeaterScrapSerialNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="HeaterScrapSerialNumber" type="text" class="form-control" autocomplete="off"
                    spellcheck="false" required minlength="3" maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="HeaterScrapSerialNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="HeaterInstalledSerialNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="HeaterInstalledSerialNumber" type="text" class="form-control" autocomplete="off"
                    spellcheck="false" required minlength="3" maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="HeaterInstalledSerialNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="InstallationDate" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="InstallationDate" type="date" class="form-control" autocomplete="off" spellcheck="false"
                    required>
                <div class="invalid-feedback">
                    <span asp-validation-for="InstallationDate"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="InstallationTime" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="InstallationTime" type="time" class="form-control" autocomplete="off" spellcheck="false"
                    required>
                <div class="invalid-feedback">
                    <span asp-validation-for="InstallationTime"></span>
                </div>
            </div>
        </div>

        <hr class="my-4">

        <button class="w-100 btn btn-primary btn-lg" type="submit">ایجاد</button>
    </div>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}