@model Models.NaturalPerson

@{
    Layout = "_CreateLayout";
    ViewData["Title"] = "تغییرات";
}

<h4 class="mb-4">کاربر حقیقی</h4>

<hr class="my-4">

<form asp-controller="NaturalPerson" asp-action="Edit" method="post" class="needs-validation" novalidate>
    <div class="row g-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="NaturalPersonId" />

        <div class="col-6">
            <label asp-for="InstallerUserName" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="InstallerUserName" type="text" class="form-control" autocomplete="off"
                    spellcheck="false" required minlength="3" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="InstallerUserName"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="FullName" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="FullName" type="text" class="form-control" autocomplete="off" spellcheck="false"
                    required minlength="3" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="FullName"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="NationalCode" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="NationalCode" type="text" class="form-control" autocomplete="off" spellcheck="false"
                    required minlength="3" maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="NationalCode"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="EmailAddress" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="EmailAddress" type="text" class="form-control" autocomplete="off" spellcheck="false"
                    required minlength="3" maxlength="60">
                <div class="invalid-feedback">
                    <span asp-validation-for="EmailAddress"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="PhoneNumber" type="text" class="form-control" autocomplete="off" spellcheck="false"
                    required minlength="3" maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="MobileNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="MobileNumber" type="text" class="form-control" autocomplete="off" spellcheck="false"
                    required minlength="3" maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="MobileNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="City" class="form-label"></label>
            <div class="input-group has-validation">
                <select asp-for="City" class="js-example-basic-single form-select" asp-items="ViewBag.Cities"
                    autocomplete="off" spellcheck="false" required></select>
                <div class="invalid-feedback">
                    <span asp-validation-for="City"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="State" class="form-label"></label>
            <div class="input-group has-validation">
                <select asp-for="State" class="js-example-basic-single form-select" asp-items="ViewBag.States"
                    autocomplete="off" spellcheck="false" required></select>
                <div class="invalid-feedback">
                    <span asp-validation-for="State"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="Region" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="Region" type="text" class="form-control" autocomplete="off" spellcheck="false" required
                    minlength="1" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="Region"></span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <label asp-for="Address" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="Address" type="text" class="form-control" autocomplete="off" spellcheck="false" required
                    minlength="3" maxlength="100">
                <div class="invalid-feedback">
                    <span asp-validation-for="Address"></span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <label asp-for="InstallationLocation" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="InstallationLocation" type="text" class="form-control" autocomplete="off"
                    spellcheck="false" required minlength="3" maxlength="100">
                <div class="invalid-feedback">
                    <span asp-validation-for="InstallationLocation"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="GasometerType" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="GasometerType" type="text" class="form-control" autocomplete="off" spellcheck="false"
                    required minlength="3" maxlength="20">
                <div class="invalid-feedback">
                    <span asp-validation-for="GasometerType"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="GasometerNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="GasometerNumber" type="text" class="form-control" autocomplete="off" spellcheck="false"
                    required minlength="3" maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="GasometerNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="PersonNumber" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="PersonNumber" type="text" class="form-control" autocomplete="off" spellcheck="false"
                    required minlength="3" maxlength="20" pattern="\d*">
                <div class="invalid-feedback">
                    <span asp-validation-for="PersonNumber"></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <label asp-for="Attachment" class="form-label"></label>
            <div class="input-group has-validation">
                <input asp-for="Attachment" type="text" class="form-control" autocomplete="off" spellcheck="false"
                    required>
                <div class="invalid-feedback">
                    <span asp-validation-for="Attachment"></span>
                </div>
            </div>
        </div>

        <hr class="my-4">

        <button class="w-100 btn btn-success btn-lg" type="submit">ایجاد تغییرات</button>

    </div>
    </form>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
