@inject SignInManager<IdentityUser> SignInManager

<header class="p-3 bg-dark text-white">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
        <a href="/ " class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none ">
            <svg class="bi me-2 " width="40 " height="32 ">
                <use xlink:href="#bootstrap " />
            </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
                <a class="nav-link px-2 fs-6 text-white" asp-controller="Home" asp-action="Index">صفحه اصلی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 fs-6 text-white" asp-controller="Installer" asp-action="Index">نصاب</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 fs-6 text-white" asp-controller="LegalPerson" asp-action="Index">کاربر حقوقی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 fs-6 text-white" asp-controller="NaturalPerson" asp-action="Index">کاربر حقیقی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 fs-6 text-white" asp-controller="ReplacementHeater" asp-action="Index">تعویض بخاری</a>
            </li>
        </ul>

        <div class="text-start">
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-controller="Account" asp-action="LogOut" method="POST">
                    <button class="btn btn-outline-light me-2">خروج</button>
                </form>
            }
            else
            {
                <a class="btn btn-outline-light me-2" asp-controller="Account" asp-action="Login">ورود</a>
                <a class="btn btn-warning" asp-controller="Account" asp-action="Register">ثبت نام</a>
            }
        </div>
    </div>
</header>